@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Instrument Sans', sans-serif;
  color: #E5E7EB; /* A light gray for text on dark backgrounds */
  /* Applying the background pattern directly */
  background-color: black;
}

@keyframes scan {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

.scanner-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, #16A34A, transparent);
  box-shadow: 0 0 10px #16A34A;
  animation: scan 2s linear infinite alternate;
}

main {
  padding-top: 80px; /* Match the navbar height */
}

