@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  color: #E5E7EB; /* A light gray for text on dark backgrounds */
  /* Applying the background pattern directly */
  background-color: #313131;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
}

@keyframes scan {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

.scanner-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, #00ff00, transparent);
  box-shadow: 0 0 10px #00ff00;
  animation: scan 2s linear infinite alternate;
}

main {
  padding-top: 80px; /* Match the navbar height */
}

