.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputGroup label {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
}

.input {
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  width: 100%;
  padding: 12px 15px;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #16A34A;
}

.input:disabled {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}

.button {
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  background-image: linear-gradient(45deg, #16A34A, #008000);
  box-shadow: 0 0 15px rgba(22, 163, 74, 0.4);
  transition: all 0.3s ease;
  width: fit-content;
  align-self: flex-start;
}

.button:hover {
  transform: scale(1.02);
  box-shadow: 0 0 25px rgba(22, 163, 74, 0.7);
}

.button:disabled {
  background-image: linear-gradient(45deg, #4b5563, #6b7280);
  box-shadow: none;
  cursor: not-allowed;
  transform: scale(1);
}
