.formContainer {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.label {
  margin-bottom: 5px;
  color: #333;
}

.input,
.fileInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
}

.fileInput {
  padding: 7px;
}

.submitButton {
  background-color: #008000;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #006400;
}

.secureLinkContainer {
  margin-top: 30px;
}

.secureLinkInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f9fa;
  color: #333;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .formContainer {
    padding: 20px;
  }

  .formGroup {
    flex-direction: column;
    align-items: stretch;
  }

  .label {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .input,
  .fileInput {
    width: 100%;
  }
}
